form{
    width: 350px;
    height: 60px;
    
}
.inputText{
    width: 200px;
    height: 25px;
    background-color: slateblue;
    color: black;
}

.MuiButton-root.MuiButton-contained {
    margin-top: 1px;
    height: 32.5px;
    font-family: cursive;

}
.MuiButton-root.MuiButton-contained:hover{
    background-color:white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
